<form action="">
  <input type="checkbox" name="guest" value="{{email}}">{{name}}{{middlename}}{{lastname}}{{age}}{{address}}{{state}}{{cellno}}{{zipcode}}
  <input type="submit" value="Submit">
</form>