<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @photogallery.topic %>
</p>
debugger;
<p>
  <img src="@photogallery.pics" alt="">Pics:</strong>
</p>

<p>
  <strong>Details:</strong>
  <%= @photogallery.details %>
</p>

<%= link_to 'Edit', edit_photogallery_path(@photogallery) %> |
<%= link_to 'Back', photogalleries_path %>
