<p id="notice"><%= notice %></p>

<p>
  <strong>Nameevent:</strong>
  <%= @event.nameevent %>
</p>

<p>
  <strong>Picsevent:</strong>
  <%= @event.picsevent %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
